<p style="color: green"><%= notice %></p>

<div class="mb-4">
  <%= render @tweet %>
</div>

<%if user_signed_in?%>
  <%= render 'comments/form' %>
<%end%>

<% @tweet = Tweet.find(params[:id]) %>

<%= render @tweet.comments.order(updated_at: :desc) %>
